@import "../../styles/config.css";

.header {
  border-bottom: 1px solid var( --color-border );
  margin: var( --spacing-large ) auto;
  max-width: var( --max-width );
  padding: 0 var( --spacing-regular ) var( --spacing-large );
}

.item {
  composes: regular from "../../styles/compositions/link.css";
  composes: item from "../../styles/compositions/nav.css";
}

.active {
  composes: active from "../../styles/compositions/nav.css";
}

.subTitle {
  font-weight: bold;
}

.button {
  composes: regular from "../../styles/compositions/button.css";
}
