@import "../../config/styles/core.css";

.header {
  border-bottom: 1px solid var( --color-border );
  margin: var( --spacing-large ) auto;
  max-width: var( --max-width );
  padding: 0 var( --spacing-small ) var( --spacing-large );
}

.title {
  font-size: var( --font-size-medium );
}

.subTitle {
  font-weight: bold;
}

.activityLocation {}
.activity {}
.location {}

.nav {
  list-style: none;
  padding-left: 0;
}

.navItem {
  display: inline;
}

.navItem:not(:first-of-type) {
  margin-left: var( --spacing-small );
}

.navActive {}

.navLink {
  color: var( --color-font-link );
  text-decoration: none;
}

.navActive .navLink {
  color: var( --color-font );
}

.navItem:not(.navActive) .navLink:focus,
.navItem:not(.navActive) .navLink:hover {
  text-decoration: underline;
}

.button {
  background-color: var( --color-font-link );
  color: var( --color-background );
  display: inline-block;
  font-weight: bold;
  padding: var( --spacing-small );
  text-decoration: none;
}

.button:focus,
.button:hover {
  background-color: color( var( --color-font-link) saturation( +10% ));
}
