@import "../../styles/config.css";

.header {
  composes: primaryBackground from "../../styles/compositions/block.css";
  border-bottom: var( --width-border ) solid var( --color-primary-block-border );
  margin: 0;
  max-width: 100%;
  padding: var( --spacing-medium ) 0;
}

.container {
  composes: container from "../../styles/compositions/content.css";
}

.logo {
  fill: var( --color-primary-block-font );
}

.button {
  float: right;
  margin-left: var( --spacing-regular );
  position: relative;
  top: calc(( 40px - ( var( --font-size-small ) * var( --font-line-height ) + var( --spacing-small ) * 2 )) / 2 );
}

.nav {
  margin-top: var( --spacing-regular );
}

.item {
  color: var( --color-primary-block-font );
  font-size: var( --font-size-small );
}

.navItem {
  color: var( --color-primary-block-font );
}

.subTitle,
.activityLocation {
  composes: primaryText from "../../styles/compositions/block.css";
  margin-bottom: 0;
  margin-top: 0;
}

.subTitle {
  margin-top: var( --spacing-large );
}

.activityLocation {
  font-size: var( --font-size-small );
  margin-top: var( --spacing-small );
}

.activity,
.location {
  font-weight: normal;
}

@media ( min-width: 450px ) {
  .header {
    padding-bottom: var( --spacing-huge );
    padding-top: var( --spacing-huge );
  }

  .nav {
    float: right;
    margin-left: var( --spacing-regular );
    margin-top: 0;
  }
}
