:root {
  --color-background: hsla( 0, 0%, 100%, 1 );
  --color-border: hsla( 357.5, 20%, 90%, 1 );
  --color-font: hsla( 357.5, 10%, 25%, 1 );
  --color-font-faint: hsla( 357.5, 5%, 35%, 1 );
  --color-font-link: hsla( 195, 90%, 35%, 1 );
  --color-primary-block-background-bottom: hsla( 357.5, 85%, 62%, 1 );
  --color-primary-block-background-top: hsla( 357.5, 80%, 60%, 1 );
  --color-primary-block-border: hsla( 357.5, 50%, 50%, 1 );
  --color-primary-block-font: hsla( 0, 0%, 100%, 1 );
  --color-secondary-block-background-bottom: hsla( 357.5, 22%, 95%, 1 );
  --color-secondary-block-background-top: hsla( 357.5, 20%, 98%, 1 );
  --color-secondary-block-border: var( --color-border );
  --color-secondary-block-font: var( --color-font-faint );
  --font-line-height: 1.6;
  --font-size-large: 44px;
  --font-size-medium: 30px;
  --font-size-regular: 22px;
  --font-size-small: 18px;
  --spacing-huge: 100px;
  --spacing-large: 60px;
  --spacing-medium: 40px;
  --spacing-small: 20px;
  --spacing-tiny: 10px;
  --width-border: 4px;
}
