@import "../../styles/config.css";

.container {
  composes: container from "../../styles/compositions/content.css";
}

.title {
  font-size: var( --font-size-medium );
  margin-bottom: 0;
  margin-top: var( --spacing-large );
}
