.container {
  composes: container from "../../styles/compositions/content.css";
}

.title {
  composes: title from "../../styles/compositions/content.css";
}

.section {
  composes: section from "../../styles/compositions/content.css";
}
