@import "../../styles/base/config.css";

.footer {
  border-top: 1px solid var( --color-border );
  margin: var( --spacing-large ) auto;
  max-width: var( --max-width );
  padding: var( --spacing-large ) var( --spacing-small ) 0;
}

.title {
  margin-bottom: 0;
  margin-top: 0;
}

.button {
  composes: regular from '../../styles/base/compositions/button.css';
}
