.containter {
  composes: container from '../../styles/base/compositions/content.css';
}

.title {
  composes: title from '../../styles/base/compositions/content.css';
}

.section {
  composes: section from '../../styles/base/compositions/content.css';
}
