@import "../../config.css";

.regular {
  background-color: var( --color-font-link );
  color: var( --color-background );
  display: inline-block;
  font-weight: bold;
  padding: var( --spacing-regular );
  text-decoration: none;
}

.regular:focus,
.regular:hover {
  background-color: color( var( --color-font-link ) saturation( +10% ));
}
