@import "../../config.css";

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var( --max-width );
  padding-left: var( --spacing-regular );
  padding-right: var( --spacing-regular );
}

.title {
  font-size: var( --font-size-large );
  margin-bottom: 0;
  margin-top: var( --spacing-large );
}

.section {
  margin-top: var( --spacing-medium );
}

.section + .section {
  border-top: 1px solid var( --color-border );
}

.section:last-of-type {
  margin-bottom: var( --spacing-large );
}

.section p {
  margin-bottom: 0;
  margin-top: var( --spacing-medium );
}

.section a {
  color: var( --color-font-link );
  text-decoration: none;
}

.section a:focus,
.section a:hover {
  text-decoration: underline;
}

.section p,
.section img {
  max-width: var( --max-content-width );
}

.section img {
  width: 100%;
}

.section h2 {
  font-size: var( --font-size-medium );
  margin-bottom: 0;
  margin-top: var( --spacing-large );
}
