@import "../../config.css";

.item {
  display: inline-block;
}

.item:not( :last-of-type ) {
  margin-right: var( --spacing-regular );
}

.active {
  color: var( --color-font );
  cursor: default;
  text-decoration: none;
}

.active:focus,
.active:hover {
  text-decoration: none;
}
