@import "../../styles/base/config.css";

.post {
  margin-top: calc( var( --spacing-large ) * 2 );
}

.post:first-of-type {
  margin-top: var( --spacing-large );
}

.title {
  composes: title from '../../styles/base/compositions/content.css';
  margin-bottom: 0;
  margin-top: 0;
}

.link {
  composes: regular from '../../styles/base/compositions/link.css';
}

.meta {
  color: var( --color-font-faint );
  font-size: var( --font-size-small );
  margin-bottom: 0;
  margin-top: var( --spacing-small );
}

.description {
  margin-bottom: 0;
  margin-top: var( --spacing-medium );
}

.content {
  margin-top: var( --spacing-large );
}

.content a {
  color: var( --color-font-link );
  text-decoration: none;
}

.content a:focus,
.content a:hover {
  text-decoration: underline;
}

.content p,
.content img {
  max-width: var( --max-content-width );
}

.content img {
  margin-top: var( --spacing-medium );
  width: 100%;
}

.content h3 {
  font-size: var( --font-size-medium );
  margin-top: var( --spacing-large );
}
