@import "../../styles/config.css";

.title {
  composes: title from "../../styles/compositions/content.css";
}

.link {
  composes: regular from "../../styles/compositions/link.css";
}

.meta {
  color: var( --color-font-faint );
  font-size: var( --font-size-small );
  margin-bottom: 0;
  margin-top: var( --spacing-regular );
}

.description {
  margin-bottom: 0;
  margin-top: var( --spacing-medium );
  max-width: var( --max-content-width );
}

.content {
  composes: section from "../../styles/compositions/content.css";
}
