@import "../../styles/config.css";

.container {
  composes: container from '../../styles/compositions/content.css';
}

.link {
  composes: regular from '../../styles/compositions/link.css';
  display: block;
  margin-top: var( --spacing-large );
}
