@import "../../styles/config.css";

.container {
  composes: container from "../../styles/compositions/content.css";
  border-top: 1px solid var( --color-border );
  margin: var( --spacing-large ) auto;
  max-width: var( --max-width );
  padding: var( --spacing-large ) var( --spacing-regular ) 0;
}

.title {
  margin-bottom: 0;
  margin-top: 0;
}

.button {
  composes: regular from "../../styles/compositions/button.css";
}
