@import "../../styles/config.css";

.list {
  composes: noStyle from "../../styles/compositions/list.css";
}

.container {
  composes: container from "../../styles/compositions/content.css";
}

.title {
  composes: title from "../../styles/compositions/content.css";
}

.subTitle {
  font-size: var( --font-size-medium );
  margin-bottom: 0;
}

.section {
  composes: section from "../../styles/compositions/content.css";
}

.link {
  composes: regular from '../../styles/compositions/link.css';
}

.testimonial {
  margin: var( --spacing-large ) 0 0;
}

.cite {
  display: block;
  font-style: normal;
  margin-top: var( --spacing-regular );
}
