@import "../../styles/base/config.css";

.link {
  composes: link from '../../styles/base/compositions/nav.css';
  display: block;
  line-height: var( --font-line-height );
  margin-bottom: 0;
  margin-top: var( --spacing-large );
}
