@import "../../config.css";

.primaryBackground {
  background-color: var( --color-primary-block-background-bottom );
  background-image: linear-gradient(
    var( --color-primary-block-background-top ),
    var( --color-primary-block-background-bottom )
  );
}

.primaryText {
  color: var( --color-primary-block-font );
}

.secondaryBackground {
  background-color: var( --color-secondary-block-background-bottom );
  background-image: linear-gradient(
    var( --color-secondary-block-background-top ),
    var( --color-secondary-block-background-bottom )
  );
}
