@import "../../config.css";

.regular {
  background-color: var( --color-secondary-block-background-bottom );
  border-radius: var( --border-radius );
  box-shadow: 0 2px var( --color-primary-block-border );
  color: var( --color-primary-block-background-top );
  font-size: var( --font-size-small );
  padding: var( --spacing-small );
}

.regular:focus,
.regular:hover {
  background-color: var( --color-primary-block-font );
  box-shadow: 0 -1px var( --color-primary-block-border );
  color: var( --color-primary-block-background-bottom );
}

.large {
  font-size: var( --font-size-regular );
  padding: var( --spacing-regular );
}
