.container {
  composes: container from "../base/compositions/content.css";
  composes: container from "../yotatiro-theme/compositions/content.css";
}

.title {
  composes: title from "../base/compositions/content.css";
  composes: title from "../yotatiro-theme/compositions/content.css";
}

.section {
  composes: section from "../base/compositions/content.css";
  composes: section from "../yotatiro-theme/compositions/content.css";
}
