.container {
  composes: container from "../../styles/compositions/content.css";
}

.title {
  composes: title from "../../styles/compositions/content.css";
}

.projectList {
  composes: noStyle from "../../styles/compositions/list.css";
}

.section {
  composes: section from "../../styles/compositions/content.css";
}

.description {
  margin-top: 0 !important;
}
